* {
    margin: 0;
}

body {
    position: relative;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.sidebar {
    background-color: var(--primary-color);
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar__nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
}

.sidebar__logo {
    margin: 50px 0;
}

.sidebar__nav {
    width: 100%;
}

.sidebar__nav-link,
.sidebar__legal-information-link {
    text-decoration: none;
}

.sidebar__nav-link {
    color: var(--secondary-font-color);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
    padding-left: 60px;
}

.sidebar__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__list-item:hover {
    background-color: #2a3d59;
}

.sidebar__link--active {
    background-color: #091931 !important;
    transform: scale(1) !important;
    color: var(--tertiary-font-color) !important;
}

.sidebar__pointer--inactive {
    cursor: default;
}

.sidebar__legal-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 32px;
    margin-bottom: 50px;
    width: 100%;
}

.sidebar__legal-information-link {
    color: var(--tertiary-font-color);
    padding: 10px 0;
    padding-left: 60px;
}

.sidebar__nav-img {
    width: 30px;
    height: 30px;
}

.sidebar__legal-information-link:hover {
    transform: scale(1.05);
    transform-origin: left;
    color: #29abe2;
}
