.addTaskDialog__separator {
    height: 320px;
}

.addTaskDialog .task-form__footer {
    position: sticky;
    bottom: 0;
    z-index: 2;
    background: #fff;
    margin-top: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.addTaskDialog .subtask-list {
    min-height: 64px;
    max-height: 64px;
    overflow-y: auto;
}

.addTaskDialog .dropdown__selected-avatars {
    max-height: 50px;
    overflow-y: auto;
}

.addTaskDialog .task-form__textarea {
    height: 60px;
    font-size: 14px;
}

.addTaskDialog .priority-buttons__btn {
    border: 1px solid #d1d1d1;
}

.addTaskDialog .priority-buttons__btn:not(.priority-buttons__btn--active):hover {
    transition: all 0.2s ease;
    transform: scale(1.05);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.addTaskDialog .task-form__label {
    font-size: 16px;
}
.addTaskDialog .priority-buttons {
    margin: 4px;
}
.addTaskDialog .dropdown__trigger {
    padding: 4px 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addTaskDialog .dropdown__trigger:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.addTaskDialog .dropdown__search {
    font-size: 16px;
}

.addTaskDialog .dropdown__selected-text {
    font-size: 16px;
}

.addTaskDialog label,
.addTaskDialog .task-form__label {
    font-weight: 400;
}

.addTaskDialog .task-form__btn {
    font-weight: 400;
    padding: 0;
    height: 48px;
    width: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addTaskDialog .task-form__col {
    gap: 3px;
}
.prio__string {
    font-size: 16px;
}
.addTaskDialog .task-form__col--left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
ul.subtask-list-task {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 16px;
    max-height: 62px;
    overflow-y: auto;
}

label.subtask-item-show__label:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
    transform: scale(1.02);
}

.task-form__btn--clear {
    background-color: white!important;
    color: #000000!important;
    border: 1px solid var(--color-neutral-700)!important;
}
.task-form__btn--clear img {
    filter: brightness(0) invert(0);
}
.task-form__btn--clear:hover {
    background-color: #fff;
    border: 1px solid #29abe2!important;
    color: #29abe2!important;
    transition: all 0.1s ease;
    transform: scale(1.01);
}