.header__boards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
}

.boards__addtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boards__addtask button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.boards__section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.boards__lists {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.toDo,
.inProgress,
.awaitingFeedback,
.done {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.search-container {
    float: right;
    border: none;
    cursor: pointer;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ccc;
}

.searchBtn {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.fa{
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-search:before {
    content: "\1F50D";
    font-family: inherit;
}