@font-face {
    font-family: "Inter";
    src: url("../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

.fc-grey {
    color: #2a3647;
}

.fc-lightgrey {
    color: #cdcdcd;
}

.fc-lightblue {
    color: #29abe2;
}

.fc-white {
    color: #ffffff;
}

.fs-small-regular {
    font-size: 16px;
    font-weight: 400;
}

.fs-medium-regular {
    font-size: 20px;
    font-weight: 400;
}

.fs-large-regular {
    font-size: 27px;
    font-weight: 400;
}

.fs-xlarge-medium {
    font-size: 47px;
    font-weight: 500;
}

.fs-medium-bold {
    font-size: 21px;
    font-weight: 700;
}

.fs-xxlarge-bold {
    font-size: 61px;
    font-weight: 700;
}

.fs-xxxlarge-bold {
    font-size: 64px;
    font-weight: 700;
}
