.legal-notice {
    flex: 1;
    overflow-y: auto;
}

.legal-notice__title {
    font-size: 61px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 24px;
}

.legal-notice__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
    margin-top: 32px;
    margin-bottom: 12px;
}

.legal-notice__item {
    list-style: none;
    line-height: 1.8;
    color: var(--primary-color);
}

.legal-notice__text {
    display: block;
    line-height: 1.6;
    color: var(--primary-color);
    max-width: 800px;
}

.legal-notice__email {
    color: var(--primary-color);
    cursor: pointer;
}

@media (max-width: 850px) {
    .legal-notice {
        flex: 1;
        overflow-y: auto;
        padding: 32px 32px 130px;
    }

    .legal-notice__title {
        font-size: 30px;
        font-weight: 700;
        color: var(--primary-color);
        margin-bottom: 14px;
    }

    .legal-notice__subtitle {
        font-size: 20px;
        font-weight: 700;
        color: var(--primary-color);
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .legal-notice__item {
        list-style: none;
        line-height: 1.8;
        color: var(--primary-color);
    }

    .legal-notice__text {
        display: block;
        line-height: 1.6;
        color: var(--primary-color);
        max-width: 800px;
    }
}
