.privacy-policy {
    flex: 1;
    overflow-y: auto;
    padding: 50px;
}

.privacy-policy__title {
    color: var(--color-brand-primary);
    margin-bottom: 24px;
}

.privacy-policy__subtitle {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-brand-primary);
    margin-top: 32px;
    margin-bottom: 12px;
}

.privacy-policy__text {
    display: block;
    line-height: 1.6;
    color: var(--color-brand-primary);
    max-width: 800px;
}

@media (max-width: 850px) {
    .privacy-policy {
        flex: 1;
        overflow-y: auto;
        padding: 0 50px 130px;
    }

    .privacy-policy__title {
        color: var(--color-brand-primary);
        margin-bottom: 14px;
    }

    .privacy-policy__subtitle {
        font-size: 20px;
        font-weight: 700;
        color: var(--color-brand-primary);
        margin-top: 24px;
        margin-bottom: 8px;
    }

    .privacy-policy__text {
        display: block;
        line-height: 1.6;
        color: var(--color-brand-primary);
        max-width: 800px;
    }
}

@media (max-width: 600px) {
    .privacy-policy {
        padding: 0 25px 130px;
    }
}

@media (max-width: 400px) {
    .privacy-policy {
        padding: 0 10px 130px;
    }
}
