.tasks a {
    color: inherit;
}

.headline1 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 48px;
    padding-left: var(--padding-left-content-to-sidebar);
}

.headline1__separator {
    width: 3px;
    height: 50px;
    background-color: var(--light-blue-color);
    border-radius: 2px;
}

.summary {
    display: flex;
}

.welcoming {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tasks {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    flex: 1.2;
    padding-left: var(--padding-left-content-to-sidebar);
}

.tasks a span {
    text-align: center;
}

.tasks__to-do,
.tasks__done,
.tasks__urgent,
.tasks__in-board,
.tasks__in-progress,
.tasks__awaiting-feedback {
    background-color: white;
    height: 160px;
    border-radius: 8px;
    border-radius: 30px;
}

.tasks__to-do,
.tasks__done,
.tasks__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.tasks__to-do-count,
.tasks__done-count,
.tasks__urgent-count,
.tasks__deadline-date {
    display: flex;
    flex-direction: column;
}

.tasks__awaiting-feedback,
.tasks__in-progress,
.tasks__in-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tasks__to-do {
    grid-column: 1 / 4;
    transform-origin: left;
}

.tasks__done {
    grid-column: 4 / 7;
    transform-origin: right;
}

.tasks__urgent {
    grid-column: 1 / 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform-origin: left top;
}

.tasks__in-board {
    grid-column: 1 / 3;
    transform-origin: left;
}

.tasks__in-progress {
    grid-column: 3 / 5;
    transform-origin: center;
}

.tasks__awaiting-feedback {
    grid-column: 5 / 7;
    transform-origin: right;
}

.tasks__icon {
    width: 60px;
    height: 60px;
}

.tasks__separator {
    background-color: var(--lightgrey-color);
    height: 100px;
    width: 2px;
}

.tasks__to-do,
.tasks__done,
.tasks__urgent,
.tasks__in-board,
.tasks__in-progress,
.tasks__awaiting-feedback {
    transition:
        background-color 0.1s ease-out,
        transform 0.1s ease-out,
        color 0.1s ease-out;
}

.tasks__to-do *,
.tasks__done *,
.tasks__urgent *,
.tasks__in-board *,
.tasks__in-progress *,
.tasks__awaiting-feedback * {
    color: inherit;
}

.tasks__to-do:hover,
.tasks__done:hover,
.tasks__urgent:hover,
.tasks__in-board:hover,
.tasks__in-progress:hover,
.tasks__awaiting-feedback:hover {
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.08);
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
}

.tasks__to-do-icon--inverted,
.tasks__done-icon--inverted {
    display: none;
}

.tasks__to-do:hover .tasks__to-do-icon,
.tasks__done:hover .tasks__done-icon {
    display: none;
}

.tasks__to-do:hover .tasks__to-do-icon--inverted,
.tasks__done:hover .tasks__done-icon--inverted {
    display: block;
}

.tasks__urgent:hover .tasks__separator {
    background-color: white;
}

@media (max-width: 1200px) {
    .tasks__cells-responsive:hover {
        transform: scale(1.03);
    }

    .tasks__icon {
        width: 40px;
        height: 40px;
    }
}

@media (max-width: 850px) {
    .headline1 {
        flex-direction: column;
        align-items: flex-start;
    }

    .headline1__title-responsive {
        margin-bottom: 5px;
    }

    .headline1__separator {
        position: absolute;
        transform: rotate(90deg);
        top: 274px;
        left: 151px;
        height: 100px;
    }

    .main-content__summary-responsive {
        padding: 0 100px;
    }

    .tasks {
        padding: 0;
    }

    .headline1 {
        padding: 0;
    }

    .welcoming {
        display: none;
    }
}

@media (max-width: 750px) {
    .headline1__separator {
        left: 110px;
    }
    .main-content__summary-responsive {
        padding: 0 60px;
    }
}

@media (max-width: 550px) {
    .main-content__summary-responsive {
        padding: 0 30px;
    }

    .headline1__separator {
        left: 81px;
    }
}

@media (max-width: 400px) {
    .tasks__cells-responsive {
        height: 140px;
    }

    .main-content__summary-responsive {
        padding: 0 10px;
    }

    .headline1__separator {
        left: 81px;
    }
    .headline1__separator {
        left: 61px;
    }

    .tasks__cells-responsive:hover {
        transform: scale(1.022);
    }

    .tasks__to-do,
    .tasks__done,
    .tasks__icon-wrapper {
        gap: 4px;
    }
}
