:root {
    --primary-color: #2a3647;
    --lightgrey-color: #cdcdcd;
    --lightergrey-color: #e2e6ec;
    --light-blue-color: #29abe2;
    --content-background-color: #f6f7f8;
    --padding-left-content-to-sidebar: 64px;
}
